.recycling-section {
    padding: 40px;
    text-align: center;
}

.recycling-section h2 {
    font-size: 56px;
    margin-bottom: 20px;
    font-family: "Fira Code", monospace;
    text-align: center;
    color: #fff;
    font-weight: 200;
    z-index: 1;
}

.filter-section {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-section input{
    padding: 10px;
    width: 250px;
    border: 2px solid #CCE664;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
}


.filter-section input:focus {
    border-color: #191818;
    outline: none;
}

.filter-section button {
    padding: 10px 20px;
    background-color: #CCE664;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.filter-section button:hover {
    background-color: #191818;
}

.search-bar {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
}

.filter-buttons {
    display: inline-block;
}

.btn-filtro {
    padding: 10px 15px;
    margin-left: 5px;
    cursor: pointer;
    background-color: #CCE664;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-filtro:hover {
    background-color: #191818;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.points-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: transform 0.5s ease; 
    overflow-x: auto;
    scroll-behavior: smooth;
}

.point-card {
    flex: 0 0 28%;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    cursor: pointer;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    min-width: 250px;
    max-width: 300px;
    box-sizing: border-box;
}

.card-content {
    margin-bottom: 40px;
}

.point-card h3 {
    font-size: 24px;
    color: #CCE664;
}

.card-content {
    margin-bottom: 40px;
}

.icon-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: transparent;
    border: 2px solid #CCE664;
    border-radius: 50%;
    color: #CCE664;
    padding: 5px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button:hover {
    background-color: #CCE664;
    color: white;
}

.wrapper{
    max-width: 1100px;
    width: 100%;
    margin-top: 130px;
    margin: 0 auto;
    margin-top: 100px;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    overflow: hidden;
}

.wrapper i{
    height: 50px;
    width: 50px;
    color: #fff;
    line-height: 50px;
    cursor: pointer;
    position: absolute;
}

.scroll-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    z-index: 1;

}

.pagination {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.tile {
    background-color: #CCE664;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    flex: 1;
    max-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tile:hover {
    background-color: #191919;
}


/*WEBKIT*/
.points-container::-webkit-scrollbar {
    width: 2px;
    height: 5px;
}

.points-container::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 10px;
}

.points-container::-webkit-scrollbar-thumb {
    height: 2px;
    background: black;
    width: 50%;
    border-radius: 10px;
    cursor: grab;
}

.points-container::-webkit-scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.slider-scrollbar:active .scrollbar-thumb{
    cursor: grabbing;
    height: 100%;
}


/*RESPONSIVIDADE*/
@media (max-width: 768px) {
    .points-container {
        flex-direction: column;
    }

    .section {
        width: 100%;
    }

    .point-card {
        max-width: 100%;
        flex: 1 1 calc(50% - 20px); /* 2 cards por linha*/
        max-width: none;
    }
}

@media (max-width: 480px) {
    .search-bar, .filter-select {
        width: 100%;
        margin-bottom: 10px;
    }

    .point-card {
        flex: 1 1 100%; /* 1 card por linha*/
        max-width: none;
    }

    .filter-section input {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .filter-section button {
        width: 100%;
    }

    .filter-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .btn-filtro {
        width: 100%;
        margin: 5px 0;
    }
}